<?xml version="1.0" encoding="utf-8"?>
<config>

	<languages>
		<language tag="en-GB">language/en-GB/en-GB.com_joommark.ini</language>
		<language tag="es-ES">language/es-ES/es-ES.com_joommark.ini</language>
		<language tag="de-DE">language/de-DE/de-DE.com_joommark.ini</language>
	</languages>

	<fieldset id="preferences" name="preferences" label="COM_JOOMMARK_PREFERENCES" >
		<field type="spacer" class="label label-info spacer" label="COM_JOOMMARK_PREFERENCES_GENERAL"/>
		<field name="refresh" type="list" default="4" label="COM_JOOMMARK_PREFERENCES_GENERAL_REFRESH" description="COM_JOOMMARK_PREFERENCES_GENERAL_REFRESH_DESC">
			<option value="1">COM_JOOMMARK_PREFERENCES_GENERAL_REFRESH_1_SEC</option>
			<option value="2">COM_JOOMMARK_PREFERENCES_GENERAL_REFRESH_2_SEC</option>
			<option value="4">COM_JOOMMARK_PREFERENCES_GENERAL_REFRESH_4_SEC</option>
			<option value="6">COM_JOOMMARK_PREFERENCES_GENERAL_REFRESH_6_SEC</option>
			<option value="8">COM_JOOMMARK_PREFERENCES_GENERAL_REFRESH_8_SEC</option>
		</field>
	</fieldset>

	<fieldset id="reports" name="reports" label="COM_JOOMMARK_REPORTS" >
		<field type="spacer" class="label label-info spacer" label="COM_JOOMMARK_REPORTS_DISPLAYINBACKEND"/>
		<field type="spacer" class="label label-info spacer" label="COM_JOOMMARK_REPORTS_EMAILREPORTS"/>
	</fieldset>


        <fieldset id="tidingup" name="tidingup" label="COM_JOOMMARK_TIDINGUP">
		<field type="spacer" class="label label-info spacer" label="COM_JOOMMARK_TIDINGUP_TIDINGUPDATABASE"/>
		<field name="gcenabled" class="btn-group"
                        type="radio"
                        default="1"
                        label="COM_JOOMMARK_TIDINGUP_TIDINGUPDATABASE_ONOFF"
                        description="COM_JOOMMARK_TIDINGUP_TIDINGUPDATABASE_ONOFF_DESC">
   			<option value="0">JNO</option>
   			<option value="1">JYES</option>
   		</field>
  		<field name="gc_serverstats_period"
                        type="text" size="10"
                        default="24"
						filter="integer"
                        label="COM_JOOMMARK_TIDINGUP_TIDINGUPDATABASE_PERIOD"
                        description="COM_JOOMMARK_TIDINGUP_TIDINGUPDATABASE_PERIOD_DESC" />

   		<field type="spacer" class="label label-info spacer" label="COM_JOOMMARK_TIDINGUP_EXCLUSIONS"/>
	</fieldset>

        <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules"
                        type="rules"
                        label="JCONFIG_PERMISSIONS_LABEL"
                        class="inputbox"
                        validate="rules" filter="rules"
                        component="com_joommark"
                        section="component" />
	</fieldset>

</config>
