<?xml version="1.0" encoding="utf-8"?>
<config>
	
	<languages>
		<language tag="en-GB">language/en-GB/en-GB.com_joommark.ini</language>
		<language tag="es-ES">language/es-ES/es-ES.com_joommark.ini</language>		
	</languages>
	
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox"	validate="rules" filter="rules" component="com_securitycheckpro" section="component" />		
	</fieldset>
	
</config>
